@font-face {
  font-family: apple;
  src: url(./font/NeueHaasDisplayMediu.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: apple;
}
html,
body {
  width: 100%;
  height: 100%;
}
#container {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
}
nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
.fNav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fNav h3 {
  font-size: 17px;
  border: 1.5px solid black;
  padding: 5px 8px;
  border-radius: 50px;
  font-weight: 500;
}
.fNav i {
  font-size: 16px;
  border: 1.5px solid black;
  padding: 5px 8px;
  border-radius: 50px;
  font-weight: 500;
}
.mNav h1 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}
.lNav button {
  padding: 7px 12px;
  border: 1.5px solid #000;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.lNav #animate {
  background-color: orangered;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition-duration: 0.4s;
}
#animate::after {
  content: "";
  background: #09ee90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
#animate:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
#container > h1 {
  /* color: red; */
  font-size: 150px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
#container img {
  height: 400px;
  width: 350px;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#container > #img1 {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#container > #img2 {
  transform: translate(-50%, -50%) rotate(-20deg);
}

#container > #img3 {
  transform: translate(-50%, -50%) rotate(-10deg);
}

#btm__left {
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 12px;
}

.sidenav {
  position: absolute;
  top: 25%;
  z-index: 1;
}
/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 17px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #316ff6;
}

#blog {
  top: 80px;
 background: linear-gradient(to right, #405DE6, #833AB4, #FD1D1D);
}

#projects {
  top: 140px;
  background-color: #0a66c2; /* Red */
}

#contact {
  top: 200px;
  background-color: #555; /* Light Black */
}
